<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>iPortfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Swati Sinha</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/Swati81" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/swati-sinha-401706206/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://www.instagram.com/swatisinha89/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://join.skype.com/invite/XnpRA4vyGiFE" class="google-plus"><i class="bx bxl-skype"></i></a>

        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Skills</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Profile</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Swati Sinha</h1>
      <p>I'm <span class="typed" data-typed-items="Data Scientist, Computer Vision Expert, Developer, Contributor "></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="static/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Data Scientist/Computer Vision Engineer</h3>

            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>21 November 2000</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 8637525648</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Bangalore, Karnataka, India</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>21+</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B-Tech in CSE</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>sinhaswati025@gmail.com</span></li>

                </ul>
              </div>
            </div>
            <p>
              Working since 1.5 years in Data Science field with iNeuron.ai, Bangalore. Worked in various computer vision problems and Data Science field. Having very good work experience in Computer Vision problems with deep learnings.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Python <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Machine Learning <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Deep Learning <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Computer vision <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Opencv <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Docker <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">NLP <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

             <div class="progress">
              <span class="skill">Flask <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Scikit-Learn <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Statistics <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Profile</h2>
          <a href="https://drive.google.com/file/d/1CmhM5MJGXldTEzteTlDD67Dpjc0-w2oP/view?usp=sharing">Resume Link</a>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Swati Sinha</h4>
              <p><em>Data Scientist & Innovative Computer Vision Problem solver with 1.5+ years of working experience as developer from initial concept to final, fast learner.Saved higher rank in Academia Connect AI Hackathon 4-13 October,2021.Also a Freenlancer at Upwork.</em></p>
              <ul>
                <li>Bangaluru, Karnataka, India</li>
                <li>+91 8637525648</li>
                <li>sinhaswati025@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>B-Tech, Computer Science</h4>
              <h5>2018 - 2022</h5>
              <p><em>University Of engineering Management, Jaipur, India. </em></p>
            </div>
            <div class="resume-item">
              <h4>Higher secondary</h4>
              <h5>2016 - 2018</h5>
              <p><em>Laulara Radha Charan Academy, WB, India</em></p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
           <div class="resume-item">
              <h4>Project Internship Team Lead</h4>
              <h5>Feb 2021-May 2021</h5>
              <p><em>iNeuron.ai , Bangalore, Karnataka </em></p>
              <ul>
                <li>Worked on Real-Time Industry based Traffic Control Computer vision Project.</li>
                <li>Done Data collection , cleaning, training, deployment along with HLD, LLD & DPR documentation.</li>
                <li>Leaded a team of about 8 people in Deep Learning Projects.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Jr.Data Scientist (Research & Development)</h4>
              <h5>12th July 2021- Present</h5>
              <p><em>iNeuron.ai , Bangalore, Karnataka</em></p>
              <ul>
                <li>Deep Learning, Machine Learning & Computer Vision
company based Projects works.</li>
                <li>Mentored many Students on their career-path.</li>
                <li>Working at the Research & Development at present.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Works</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/deepsort.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/deepsort.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Deepsort"><i class="bx bx-plus"></i></a>

                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/collision.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/collision.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Collision Control System"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/flight.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/flight.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Flight Price Prediction"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/vehicle.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/vehicle.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Vehicle Tracking Counting with OpenCV"><i class="bx bx-plus"></i></a>


              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/damage.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/damage.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Vehicle Damage Control Application"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/pothole.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/pothole.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Pothole Detection"><i class="bx bx-plus"></i></a>


              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/mask.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/mask.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="COVID-19 Mask Detection using Detectron2 in Real Time"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/safe.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/safe.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="COVID-19 Safest Distance detection in Real Time"><i class="bx bx-plus"></i></a>


              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/action.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/action.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="COVID-19 Action Detection in Real Time"><i class="bx bx-plus"></i></a>


              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/satellite.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/satellite.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Satellite Image Segmentation with Smooth Blending"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/nucleus.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/nucleus.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Microsocpic Image Instance Segmentation Using UNET Model"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/skincancer.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/skincancer.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Skin Cancer Prediction Using Detectron2"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/detectron2seg.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/detectron2seg.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="
Detectron2-Application-Instance Segmentation"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/detectron2key.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/detectron2key.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Detectron2-Application-Keypoints Segmentation"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/pose.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/pose.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PoseDetector"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/fashion.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/fashion.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Fashion Recommender System"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/gfp.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/gfp.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Image Restoration using GFP GAN"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/style-gan.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/style-gan.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Image-Transformation-with-Style_Gan2_Ada."><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/hihop_unet.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/hihop_unet.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Background replacement & segmentation"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/ATCC.gif" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/ATCC.gif" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ATCC"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/ifas.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/img/portfolio/ifas.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="iFAS"><i class="bx bx-plus"></i></a>

              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Bangalore, Karnataka</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>sinhaswati025@gail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 8637525648</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497698.6600776823!2d77.35073489782062!3d12.95451700974361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1656758978274!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
     <h3>Swati Sinha</h3>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/swati-sinha-401706206/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://github.com/Swati81" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.instagram.com/swatisinha89/" class="instagram"><i class="bx bxl-instagram"></i></a>

      </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/typed.js/typed.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>